<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильм</title>
</head>
<body>
<p th:text="${movie.getId()}">VALUE</p>
<p th:text="${movie.getTitle()}">VALUE</p>
<p th:text="${movie.getYear()}">VALUE</p>
<p th:text="${movie.getGenre()}">VALUE</p>
<p th:text="${movie.isWatched()}">VALUE</p>
<a th:href="@{/movies/{id}/edit(id=${movie.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/movies/{id}(id=${movie.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>